@CHARSET "UTF-8";

div.yw-explorerTree .y-tree-icon-hmc_group_productdataexportbackoffice_productsup.y-tree-icon {
  background-image: url("images/logo.png");
}

div.yw-sideNavigation-container .y-tree-icon.y-tree-icon-hmc_group_productdataexportbackoffice_productsup {
  background-image: url("images/logo_big.png");
  height: 25px;
  width: 25px;
  background-size: 100%;
  margin-top: 13px;
}

div.yw-modal-configurableFlow div.yw-notification-message .z-label {
    white-space: normal;
}
